<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>iTunes検索</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <form action="/" class="form-inline search-box">
      <div class="form-group">
        <input type="text" class="form-control" name="keyword">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control">
      </div>
    </form>
    <div class="row result">
    </div>
    </div>
    <script>
      $(".search-box").submit(function() {
        console.log("click search-box")
        var keyword = $("input[name=keyword]",this).val();
        $(".result").empty();
        $.ajax({
          url: "/search",
          method: "GET",
          data: {
            keyword: keyword
          },
          dataType: "json",
          success: function(result){
            console.log("result", result)
            if(result.length){
              for(i in result){
                var music = result[i];
                var container = $("<div>").addClass("col-lg-4 col-xs-4 col-sm-4 col-md-4 well");
                container.append($("<img>").attr("src",music["artworkUrl100"]).addClass("center-block"));
                container.append($("<p>").text(music["artistName"]));
                container.append($("<p>").text(music["collectionName"]));
                container.append($("<p>").text(music["trackName"]));
                container.append($("<a>").attr("href", music["previewUrl"]).text("サンプル"));
                container.append($("<br>"));
                container.append($("<button>").addClass("like_button").text("いいね").data("id",music["id"]));
                container.append($("<span>").addClass("like_label").text(music["like"]+"いいね").attr("data-id",music["id"]));
                $(".result").append(container);
              }
            }else{
              $(".result").text("検索結果がありません");
            }
          }
        });
        return false;
      });



      $(document).on("click", ".like_button", function(){
        var id = $(this).data("id");

        $.ajax({
          url: "/musics/" + id + "/like",
          method: "POST",
          success: function(n){
            console.log("like count", n)
            $(".like_label[data-id=" + id + "]").text(n + "いいね");
          }
        });
      });
    </script>
</body>
</html>
